<!DOCTYPE html><html lang="en">
<head>
    <meta charset="utf-8">
    <title>Stellar - Home</title>
    <link href="/css/vendors/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/vendors/swiper-bundle.min.css">
</head>



        <!-- Site footer -->
        <footer>
            <div class="cknuf chyag ck7tl cj5a0">
        
                <!-- Blocks -->
                <div class="cq0og cld7d cpb5v cmmqp cwki0">
        
                    <!-- 1st block -->
                    <div class="c2te9 c64tz c7mlk c7trj">
                        <div class="cs2x1 c0tib c8rkc clfke c5svh cx8wk">
                            <div class="cznm6 crx0u">
                                <div class="cznm6">
                                    <!-- Logo -->
                                    <a class="c5puz" href="index.html" aria-label="Cruip">
                                        <img src="./images/logo.svg" width="38" height="38" alt="Stellar">
                                    </a>
                                </div>
                                <div class="cqnsz cuxtl">© Cruip.com <span class="c2v91">-</span> All rights reserved.</div>
                            </div>
                            <!-- Social links -->
                            <ul class="cs2x1">
                                <li>
                                    <a class="cs2x1 cxwsr crt5c ct2xv cco4s cykc9 c2rol c78tz" href="#0" aria-label="Twitter">
                                        <svg class="cqwyn cjwbb cfck2" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M24 11.5c-.6.3-1.2.4-1.9.5.7-.4 1.2-1 1.4-1.8-.6.4-1.3.6-2.1.8-.6-.6-1.5-1-2.4-1-1.7 0-3.2 1.5-3.2 3.3 0 .3 0 .5.1.7-2.7-.1-5.2-1.4-6.8-3.4-.3.5-.4 1-.4 1.7 0 1.1.6 2.1 1.5 2.7-.5 0-1-.2-1.5-.4 0 1.6 1.1 2.9 2.6 3.2-.3.1-.6.1-.9.1-.2 0-.4 0-.6-.1.4 1.3 1.6 2.3 3.1 2.3-1.1.9-2.5 1.4-4.1 1.4H8c1.5.9 3.2 1.5 5 1.5 6 0 9.3-5 9.3-9.3v-.4c.7-.5 1.3-1.1 1.7-1.8z"></path>
                                        </svg>
                                    </a>
                                </li>
                                <li class="c9et2">
                                    <a class="cs2x1 cxwsr crt5c ct2xv cco4s cykc9 c2rol c78tz" href="#0" aria-label="Dev.to">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32">
                                            <path class="cqwyn cjwbb cfck2" d="M12.29 14.3a.69.69 0 0 0-.416-.155h-.623v3.727h.623a.689.689 0 0 0 .416-.156.543.543 0 0 0 .21-.466v-2.488a.547.547 0 0 0-.21-.462ZM22.432 8H9.568C8.704 8 8.002 8.7 8 9.564v12.872A1.568 1.568 0 0 0 9.568 24h12.864c.864 0 1.566-.7 1.568-1.564V9.564A1.568 1.568 0 0 0 22.432 8Zm-8.925 9.257a1.631 1.631 0 0 1-1.727 1.687h-1.657v-5.909h1.692a1.631 1.631 0 0 1 1.692 1.689v2.533ZM17.1 14.09h-1.9v1.372h1.163v1.057H15.2v1.371h1.9v1.056h-2.217a.72.72 0 0 1-.74-.7v-4.471a.721.721 0 0 1 .7-.739H17.1v1.054Zm3.7 4.118c-.471 1.1-1.316.88-1.694 0l-1.372-5.172H18.9l1.058 4.064 1.056-4.062h1.164l-1.378 5.17Z"></path>
                                        </svg>
                                    </a>
                                </li>
                                <li class="c9et2">
                                    <a class="cs2x1 cxwsr crt5c ct2xv cco4s cykc9 c2rol c78tz" href="#0" aria-label="Github">
                                        <svg class="cqwyn cjwbb cfck2" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M16 8.2c-4.4 0-8 3.6-8 8 0 3.5 2.3 6.5 5.5 7.6.4.1.5-.2.5-.4V22c-2.2.5-2.7-1-2.7-1-.4-.9-.9-1.2-.9-1.2-.7-.5.1-.5.1-.5.8.1 1.2.8 1.2.8.7 1.3 1.9.9 2.3.7.1-.5.3-.9.5-1.1-1.8-.2-3.6-.9-3.6-4 0-.9.3-1.6.8-2.1-.1-.2-.4-1 .1-2.1 0 0 .7-.2 2.2.8.6-.2 1.3-.3 2-.3s1.4.1 2 .3c1.5-1 2.2-.8 2.2-.8.4 1.1.2 1.9.1 2.1.5.6.8 1.3.8 2.1 0 3.1-1.9 3.7-3.7 3.9.3.4.6.9.6 1.6v2.2c0 .2.1.5.6.4 3.2-1.1 5.5-4.1 5.5-7.6-.1-4.4-3.7-8-8.1-8z"></path>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
        
                    <!-- 2nd block -->
                    <div class="c7197 cu3kj c96dz">
                        <h6 class="cjvyj cqnsz ciph8 crdoi">Products</h6>
                        <ul class="cb8dn cqnsz">
                            <li>
                                <a class="cfoch cco4s cykc9 c2rol cib6f" href="#0">Features</a>
                            </li>
                            <li>
                                <a class="cfoch cco4s cykc9 c2rol cib6f" href="#0">Integrations</a>
                            </li>
                            <li>
                                <a class="cfoch cco4s cykc9 c2rol cib6f" href="#0">Pricing &amp; Plans</a>
                            </li>
                            <li>
                                <a class="cfoch cco4s cykc9 c2rol cib6f" href="#0">Changelog</a>
                            </li>
                            <li>
                                <a class="cfoch cco4s cykc9 c2rol cib6f" href="#0">Our method</a>
                            </li>
                        </ul>
                    </div>
        
                    <!-- 3rd block -->
                    <div class="c7197 cu3kj c96dz">
                        <h6 class="cjvyj cqnsz ciph8 crdoi">Company</h6>
                        <ul class="cb8dn cqnsz">
                            <li>
                                <a class="cfoch cco4s cykc9 c2rol cib6f" href="#0">About us</a>
                            </li>
                            <li>
                                <a class="cfoch cco4s cykc9 c2rol cib6f" href="#0">Diversity &amp; Inclusion</a>
                            </li>
                            <li>
                                <a class="cfoch cco4s cykc9 c2rol cib6f" href="#0">Blog</a>
                            </li>
                            <li>
                                <a class="cfoch cco4s cykc9 c2rol cib6f" href="#0">Careers</a>
                            </li>
                            <li>
                                <a class="cfoch cco4s cykc9 c2rol cib6f" href="#0">Financial statements</a>
                            </li>
                        </ul>
                    </div>
        
                    <!-- 4th block -->
                    <div class="c7197 cu3kj c96dz">
                        <h6 class="cjvyj cqnsz ciph8 crdoi">Resources</h6>
                        <ul class="cb8dn cqnsz">
                            <li>
                                <a class="cfoch cco4s cykc9 c2rol cib6f" href="#0">Community</a>
                            </li>
                            <li>
                                <a class="cfoch cco4s cykc9 c2rol cib6f" href="#0">Terms of service</a>
                            </li>
                            <li>
                                <a class="cfoch cco4s cykc9 c2rol cib6f" href="#0">Report a vulnerability</a>
                            </li>
                        </ul>
                    </div>
        
                    <!-- 5th block -->
                    <div class="c7197 cu3kj c96dz">
                        <h6 class="cjvyj cqnsz ciph8 crdoi">Legals</h6>
                        <ul class="cb8dn cqnsz">
                            <li>
                                <a class="cfoch cco4s cykc9 c2rol cib6f" href="#0">Refund policy</a>
                            </li>
                            <li>
                                <a class="cfoch cco4s cykc9 c2rol cib6f" href="#0">Terms &amp; Conditions</a>
                            </li>
                            <li>
                                <a class="cfoch cco4s cykc9 c2rol cib6f" href="#0">Privacy policy</a>
                            </li>
                            <li>
                                <a class="cfoch cco4s cykc9 c2rol cib6f" href="#0">Brand Kit</a>
                            </li>
                        </ul>
                    </div>
        
                </div>
        
            </div>
        </footer>

    <script src="/js/vendors/alpinejs.min.js" defer=""></script>
    <script src="/js/vendors/aos.js"></script>
    <script src="/js/vendors/swiper-bundle.min.js"></script>
    <script src="/js/main.js"></script>